kurigram
tgcrypto
aiohttp
psutil
persiantools
tzdata

# اختیاری - برای ساخت فایل Word/PDF (اگه لازم نداری می‌تونی این ۴ خط رو کامنت/حذف کنی)
python-docx
fpdf2
arabic-reshaper
python-bidi

# استریم صدا+تصویر تو ویس‌چت (نیازمند ffmpeg سیستمی - تو nixpacks.toml اضافه شده)
py-tgcalls
yt-dlp
